@import "tailwindcss";

@theme {
    --color-primary: #00342b;
    --color-primary-darker: #001915;
    --color-primary-light: #006d5b;
    --color-secondary: #252525;
}

html {
    scroll-behavior: smooth;
}

button, a {
    cursor: pointer;
}